.App {
  text-align: center;
}

body {
  color: white;
  /* background-color: #0F172A; */
  background-image: linear-gradient(to left, #000000, #0F172A);
  font-family: 'Montserrat', sans-serif;
} 

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #282c34; */
  background-image: linear-gradient(to bottom, #000000, #0F172A);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}