main {
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    /* Enables vertical snap scrolling */
    height: 100vh;
    /* Full viewport height */
    overflow-y: scroll;
    /* Enables vertical scrolling */
    scroll-behavior: smooth;
    /* Smooth scrolling */
    
}

.about-me-section {
    display: flex;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    /* Aligns the section at the start of the viewport */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.about-me-div {
    /* top | right | bottom | left */
    /* margin: 50px auto 0 auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* text-align: center; */
    /* max-width: 600px; */
}

.about-me-section h1 {
    margin-top: 0;
}

.about-me-list {
    text-align: left;
}

.technology-image {
    width: 70px;
    height: auto;
}