.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.contact-form h1 {
    font-weight:300;

}

.contact-form input, .contact-form textarea {
    margin-bottom: 20px;
    width: 330px;
    border-radius: 15px;
    border-style: none;
    padding: 10px;
}

.contact-form .name,  .contact-form .email{
    min-height: 40px;
}

.contact-form .message {
    min-height: 100px;
    flex-wrap: wrap;
    word-break: break-word;
    overflow: scroll;
}

.contact-form .submit-button {
    color: rgb(0, 0, 0);
    width: 250px;
    height: 50px;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    border-style: none;
}
.contact-form .submit-button:hover {
    background-color: #98c1f7;
}