body {
    padding-bottom: 0 !important;
}

body {
    margin: 0;
    padding-top: 100px;
    padding-bottom: 50px;
}

.cursor-blink {
    animation: blinker 1s linear infinite;
    color: white;
    font-size: 140%;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.profile-icon {
    margin: 0 auto;
    animation: breathing 4s ease-out infinite normal;
    width: 90%;
    height: auto;
    display: block;
    
}

@keyframes breathing {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}


.hello {
    font-weight: 700;
    margin: 0 auto;
}

.job-titles {
    color: rgb(77, 109, 212)
}

.intro-container {
    width: 500px;
    margin: 0 auto;
    justify-content: center;
}

.intro {
    word-wrap: break-word;
    font-size: 18px;
    line-height: 1.5;
}

.personal-links {
    margin: 0 auto;
    width: 200px;
}

.personal-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.personal-links ul li {
    margin: auto;
}

.personal-links ul li img {
    width: 50px;
    height: auto;
    margin: 0 auto;
}

.video-and-table-container {
    margin: 0 auto;
    position: relative;
    width: 430px;
    height: 430px;
    z-index: 1;
}

video {
    /* width: 400px; when it was not inside a container */
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

table {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* height: auto; */
    /* height: 430px; */
}

td {
    position: relative;
    /* border: 1px solid red; */
    /* height: auto; */
}

.about-me-td, .resume-td, .projects-td {
    cursor: pointer;
    pointer-events: auto;
}

@media (max-width: 768px) {
    .hello {
        font-size: 20px;
    }

    .intro-container {
        width: fit-content;
    }

    p.intro {
        font-size: 12px;
    }

    .video-and-table-container {
        width: 350px;
        height: 350px;
    }

    /* .video {
        width: 350px;
        height: 350px;
    } */

    /* .table {
        width: 350px;
        height: 350px;
    } */
}

/* .profile-img {
    height: auto;
    width: 400px;
    animation: profile-img-spin infinite 10s linear;
} */

/* @keyframes profile-img-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
} */