.cursor-blink {
    animation: blinker 1s linear infinite;
    color: white;
    font-size: 140%;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.job-titles {
    color: rgb(16, 136, 136);
}

ul {
    list-style-type: none;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

li {
    margin-right: 30px;
    font-size: 16px;
}