.home-container {
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 30px;
}

.hello {
    font-weight: 600;
    margin: 0 auto;
}

.job-titles {
    color: rgb(77, 109, 212)
}

.cursor-blink {
    animation: blinker 1s linear infinite;
    color: white;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.icon-container {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    width: 400px;
    height: auto;
    z-index: 1;
}

@keyframes breathing {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}

.profile-icon {
    margin: 0 auto;
    animation: breathing 4s ease-out infinite normal;
    width: 90%;
    height: auto;
}

.about-me-icon {
    position: absolute;
    top: -50px;
    right: -30px;
    animation: breathing 4s ease-out infinite normal;
    cursor: pointer;
}

.resume-icon {
    position: absolute;
    top: 280px;
    right: 300px;
    animation: breathing 4s ease-out infinite normal;
    cursor: pointer;
}

.projects-icon {
    position: absolute;
    top: 250px;
    right: -80px;
    animation: breathing 4s ease-out infinite normal;
    cursor: pointer;
}

.intro-container {
    width: 500px;
    margin: 0 auto;
    justify-content: center;
}

.intro {
    word-wrap: break-word;
    line-height: 1.5;
    margin: 10px;
}

.personal-links {
    margin: auto;
    margin-top: 30px;
    width: 200px;
}

.personal-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.personal-links ul li {
    margin: auto;
}

.personal-links ul li img {
    width: 50px;
    height: auto;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .home-container {
        margin-top: 100px;
        margin-bottom: 50px;
        padding-bottom: 0;
    }

    .hello {
        font-size: 20px;
    }

    .intro-container {
        width: fit-content;
        max-width: 350px;
    }

    .icon-container {
        width: 60%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .about-me-icon {
        width: 40%;
        top: -10%;
        right: -10%;
    }

    .resume-icon {
        width: 40%;
        top: 70%;
        right: 70%;
    }

    .projects-icon {
        width: 40%;
        top: 65%;
        right: -15%;
    }
}