.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #181a1f;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
}

.navbar img {
    width: 170px;
    height: auto;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 30px;
    font-size: 16px;
    cursor: pointer;
}

/* remove margin from the last li to avoid extra spacing */
nav li:last-child {
    margin-right: 0;
}

@media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar-links {
      margin-top: 1rem; 
    }
  
    .navbar-links nav {
      text-align: center;
    }
  
    .navbar-links nav ul {
      flex-direction: column;
    }
  
    .navbar-links nav ul li {
      margin: 10px 0; 
    }
  }