.projects {
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 50px;
    justify-content: center;
}

.projects-title {
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.projects ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;

}

.image-and-description {
    display: flex;
    justify-content: space-between;
}

.image {
    flex: 1;
    border-radius: 0.5rem;
    width: 350px;
    height: auto;
}

.description {
    flex: 2;
    text-align: left;
    margin-left: 30px;
}

.project-link {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid white;
}

@media (max-width: 768px) {
    .image-and-description {
        padding: 20px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .description {
        flex: 2;
        text-align: left;
        margin: 0;
    }

    .image {
        margin-top: 30px;
        margin-left: 30px;
    }
}