.resume-container {
    /* text-align: center; */
    max-width: 850px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 30px;
}

.resume-container h1 {
    margin-bottom: 1.5rem;
}

.experiences-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    line-height: 1.5;
}

.experiences {
    margin-bottom: 50px;
}

.dates-and-descriptions {
    display: flex;
    justify-content: space-between;

}

.job-dates {
    /* Takes 1 part of the available space */
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
}

.job-dates p {
    margin: 0px;
    /* i dont want it to be numbered */
    list-style-type: none;
}

.company-logo {
    width: 40%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(13, 35, 199, 0.242);
    background-image: linear-gradient(#050505, #0c1e4a);
    object-fit: cover;
    object-position: center;
    padding: 10px;
}

.company-logo[alt="TechTalentPipeline Logo"] {
    width: 50%;
    height: auto;
    background-image: linear-gradient(#8f8f8f, #0F172A);
}

.job-descriptions {
    /* Takes 2 parts of the available space, more than job-dates */
    flex: 2;
    border-left: 1px solid #dddddd82;
    padding-left: 20px;
}

.job-descriptions li {
    margin-bottom: 10px;
}

.job-descriptions ul {
    margin: 0;
    padding-left: 20px;
}

.technologies-used {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.technologies-used li {
    background-color: rgb(57, 101, 181);
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.education-section {
    margin-bottom: 50px;
}

.education-list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    line-height: 1.5;
}

.education-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.education-logo-container {
    /* Takes 1 part of the available space, matching job-dates */
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
}

.college-logo {
    max-width: 40%;
    width: auto;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    object-fit: contain;
    display: block;
}

.education-content {
    /* Takes 2 parts of the available space, matching job-descriptions */
    flex: 2;
    border-left: 1px solid #dddddd82;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.education-item p {
    margin: 0;
    color: #9c9c9c;
}

.education-year {
    text-align: left;
}

@media (max-width: 768px) {
    .college-logo {
        margin: 5px;
    }
}