.resume {
    /* text-align: center; */
    max-width: 850px;
    margin: 0 auto;
}

.resume ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.experiences {
    text-align: left;
    margin-bottom: 50px;
    line-height: 1.5;
}

.dates-and-descriptions {
    display: flex;
    justify-content: space-between;
}

.job-dates {
    flex: 1;
    /* Takes 1 part of the available space */
}

.job-descriptions {
    flex: 2;
    /* Takes 2 parts of the available space, more than job-dates */
}

.job-dates p {
    margin: 0px;

}

.technologies-used {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.technologies-used li {
    background-color: teal;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    margin-top: 10px;
}